<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    Lookup songwriter: <br />
    <form action="/writer/"><input type="text" name="q" /><input type="submit" value=" Search " /></form>
  </body>
</html>
