<!DOCTYPE html>
<html>
  <head>
    <title>Sia - explore songwriters</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sia - explore songwriters</h1>
    Lookup songwriter: <br />
    <form action="/search/"><input type="text" name="q" /><input type="submit" value=" Search " /></form>
  </body>
</html>
